apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: php-app-dev1

namePrefix: dev1-

labels:
  - pairs:
      environment: dev
      instance: dev1

resources:
  - ../../../base

patches:
  - path: patch/p2p-simplesaml-volume-patch.yaml
  - target:
      kind: Deployment
      name: php-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/volumes/0/persistentVolumeClaim/claimName
        value: dev1-php-app-pvc
  - target:
      kind: Ingress
      name: php-app-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: php-app-dev1.test
  - target:
      kind: PersistentVolume
      name: php-app-pv
    patch: |-
      - op: replace
        path: /spec/hostPath/path
        value: /data/php-app-dev1
      - op: replace
        path: /spec/capacity/storage
        value: 50Mi
  - target:
      kind: PersistentVolumeClaim
      name: php-app-pvc
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 50Mi

