apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: php-app-preprod

namePrefix: preprod-

labels:
  - pairs:
      environment: preprod

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: php-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/volumes/0/persistentVolumeClaim/claimName
        value: preprod-php-app-pvc
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m
  - target:
      kind: Ingress
      name: php-app-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: php-app-preprod.test
  - target:
      kind: PersistentVolume
      name: php-app-pv
    patch: |-
      - op: replace
        path: /spec/hostPath/path
        value: /data/php-app-preprod
      - op: replace
        path: /spec/capacity/storage
        value: 200Mi
  - target:
      kind: PersistentVolumeClaim
      name: php-app-pvc
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 200Mi

